/* buttons
*******************************************************************/

.btn {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  padding-left: 24px;
  padding-right: 24px;
  min-width: 128px;
  justify-content: center;
}

.btn-link {
  color: $app-color-1;
}

.btn-white {
  background-color: $white;
  border-color: $white;
  font-size: 16px;
  color: $app-color-1;

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  &:hover,
  &:focus {
    background-color: transparent;
    color: $white;
    box-shadow: none !important;
  }
}

.btn-outline-white {
  background-color: transparent;
  color: $white;
  border-color: $white;
  font-size: 16px;
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  &:hover,
  &:focus {
    background-color: $white;
    color: $app-color-1;
    box-shadow: none !important;
  }
}


.btn-primary {
  background-color: $app-color-1;
  border-color: $app-color-1;
  font-size: 16px;
  color: white !important;

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  &:hover,
  &:focus {
    background-color: lighten($app-color-1, 12%);
    border-color: lighten($app-color-1, 12%);
    box-shadow: none !important;
  }
}

.btn-secondary {
  background-color: $app-color-3;
  border-color: $app-color-3;
  font-size: 16px;
  color: white !important;

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  &:hover,
  &:focus {
    background-color: darken($app-color-3, 9%);
    border-color: darken($app-color-3, 9%);
    box-shadow: none !important;
  }
}

.btn-outline-primary {
  border-color: $app-color-1;
  color: $app-color-1;
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  &:hover,
  &:focus {
    background-color: lighten($app-color-1, 12%);
    border-color: lighten($app-color-1, 12%);
    box-shadow: none !important;
  }
}

.btn-outline-secondary {
  border-color: $app-color-3;
  color: $app-color-3;
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  &:hover,
  &:focus {
    background-color: darken($app-color-3, 9%);
    border-color: darken($app-color-3, 9%);
    box-shadow: none !important;
  }
}


.btn-lg {
  padding: 1rem 3.5rem;
  font-size: 18px;
  i {
    font-size: 32px;
    line-height: 0;
  }
}

.btn-bounce-h:hover i {
  animation: bounce-h 1.4s infinite;
}
