/* forms
*******************************************************************/

.form-control {
  border-radius: 0;
  &:disabled,
  &[readonly] {
    background: $gray-200;
  }
}

.input-group-text {
  border: 0;
  color: $gray-900;
  background: transparent;
  a[data-toggle="popover"] {
    cursor: pointer;
    color: $gray-900;
    &:hover {
      text-decoration: none;
      color: $gray-900;
    }
  }
}

.form-group {
  -ms-flex-align: center;
  align-items: center;
}

textarea.form-control {
  min-height: 92px;
}
.form-control {
  font-size: .97rem;
}