/* header
*******************************************************************/

header {
    position: fixed;
    top: 0;
    z-index: 101;
    width: 100%;
    background-color: $white;

    .container {
        position: relative;
    }

    body.sm & {
        box-shadow: 0 0 10px 0 rgba($lightblack, .2);
    }

    body.sm .navbar {
        .brand {
            @include media-breakpoint-up(lg) {
                //margin: 10px 0;
            }
            img {
                @include media-breakpoint-up(lg) {
                    //width: 130px;
                }
            }
        }
    }

    .navbar {

        padding: 0;
        font-size: 18px;

        @include media-breakpoint-only(md) {
            -ms-flex-direction: column;
            flex-direction: column;
        }
        @include media-breakpoint-up(lg) {
            font-size: 19px;
        }
        @include media-breakpoint-up(xl) {
            font-size: 20px;
        }

        .brand {
            margin: 20px 40px -40px 0;
            @include media-breakpoint-only(sm) {
                margin: 20px 40px -50px 0;
            }
            @include media-breakpoint-only(md) {
                -ms-flex-item-align: start;
                align-self: flex-start;
                margin: 20px 40px -90px 0;
            }
            @include media-breakpoint-up(lg) {
                margin: 20px 40px 20px 0;
            }
            img {
                width: 100px;
                @include media-breakpoint-up(sm) {
                    width: 120px;
                }
                @include media-breakpoint-up(lg) {
                    width: 150px;
                    @include transition(width .25s ease);
                }
            }
            small {
                display: block;
                margin-top: 5px;
                font-size: 14px;
                white-space: nowrap;
                line-height: 1em;
                @include media-breakpoint-only(xs) {
                    max-width: 140px;
                    white-space: normal;
                }
            }
            &:focus,
            &:hover {
                text-decoration: none;
            }
        }

        .navbar-toggler {
            padding: 10px;
            @include media-breakpoint-up(lg) {
                display: none;
            }
        }

        .btn-lang {
            color: $app-color-1;
            font-size: 20px;
            padding-right: 5px;
            padding-left: 5px;
            min-width: auto;
            @include media-breakpoint-up(md) {
                display: none !important;
            }
            &::after {
                font-size: 14px;
                margin-left: 8px;
            }
            &:focus,
            &:hover {
                color: $app-color-3;
            }
        }

        .search-link {
            @include media-breakpoint-down(sm) {
                padding: 0 15px;
            }
            @include media-breakpoint-up(md) {
                padding: 20px 15px;
            }
            @include media-breakpoint-up(xl) {
                padding: 20px 15px 50px;
            }
            &:hover {
                color: $app-color-3;
            }
        }

        .nav-lang {
            font-size: 20px;
            min-width: auto;
            @include media-breakpoint-up(md) {
                display: flex;
                background: transparent;
                border: 0;
                padding: 0;
                margin: 0;
                border-radius: 0;
                position: relative;
                top: auto;
                left: auto;
                min-width: auto;
                float: none;
            }
            @include media-breakpoint-up(md) {
                .nav-item .nav-link {
                    padding: 20px 15px;
                }
            }
            @include media-breakpoint-up(xl) {
                .nav-item .nav-link {
                    padding: 20px 15px 50px;
                }
            }
            .nav-item {
                position: relative;
                .nav-link {
                    color: $app-color-1;
                    font-weight: 400;
                    &:focus,
                    &:hover {
                        color: $app-color-3;
                    }
                }
            }
        }

        .navbar-collapse {
            margin-top: auto;
            .navbar-nav {

                @include media-breakpoint-up(xl) {
                    margin: 0 60px 0 auto;
                }

                .nav-item {
                    + .nav-item {
                        margin-top: 2px;
                        @include media-breakpoint-up(md) {
                            margin-left: 2px;
                            margin-top: 0;
                        }
                    }
                    .nav-link {
                        color: $app-color-1;
                        padding: 10px;
                        border-radius: 4px;
                        transition: background-color ease-out .12s;
                        @include media-breakpoint-up(md) {
                            padding: 10px 15px;
                            border-radius: 8px 8px 0 0;
                        }
                        @include media-breakpoint-up(lg) {
                            padding: 15px;
                        }
                        @include media-breakpoint-up(xl) {
                            padding: 20px 15px 50px;
                        }
                        font-weight: 400;
                        &.dropdown-toggle {
                            &::after {
                                display: none;
                            }
                            + .dropdown-menu {
                                margin-top: 0;
                                border: 0;
                                @include media-breakpoint-up(md) {
                                    box-shadow: 0 5px 10px -5px rgba($black,.5) inset, 0 5px 10px 5px rgba($black,.1);
                                    border-radius: 0 0 8px 8px;
                                    background-color: $app-color-1;
                                    min-width: 120%;
                                }
                                padding: 5px;
                                .dropdown-item {
                                    color: rgba($app-color-1,.7);
                                    font-size: 18px;
                                    padding: 5px 20px 5px 10px;
                                    margin-bottom: 2px;
                                    @include media-breakpoint-up(md) {
                                        color: $white;
                                    }
                                    &:focus,
                                    &:hover {
                                        background-color: rgba($app-color-2,.2);
                                        color: $white;
                                    }
                                    &:last-child {
                                        border-bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                    &.active,
                    &.show,
                    &:hover {
                        .nav-link {
                            background-color: $app-color-1;
                            color: $white;
                        }
                    }
                }
            }
        }

    }
}
