/* reboot
*******************************************************************/
html {
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: $body-color;
  @include media-breakpoint-only(md) {
    padding-top: 163px;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 130px;
  }
}

a {
  color: $app-color-1;
  &:focus,
  &:hover {
    color: darken($app-color-1, 10%)
  }
}

hr {
  border-top-color: $gray-200;
}
